@charset "UTF-8";

/* 全体構造
---------------------------------------------------- */

body {
  line-height: 1.5;
  color: #333333;
  top center no-repeat;
  font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, hr {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

img {
  border: 0px;
}

#extra-col {
  float: left;
  width: 200px;
  margin-right: 10px;
  /* background: #f3f8f7; */
  /* border-bottom: 3px solid #22944d; */
  margin-top: 28px;
}

#container {
  width: 920px;
  margin: auto;
  background: #FFFFFF;
  zoom: 100%;
	border-top: solid #2cc58a 10px;
	margin-top: 20px
}

#container:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#main {
  width: 700px;
  float: left;
  padding: 10px 0px;
	margin-top:20px;
}

#main h2 {
  height: 35px;
  display: block;
  background: url("../images/title_bg.png") no-repeat;
  font-size: 95%;
  padding: 0px 10px 0px 30px;
  line-height: 2;
}

a:link {
  color: #0b308e;
  text-decoration: none;
}

a:visited {
  color: #0b308e;
  text-decoration: none;
}

a:hover, a:active {
  color: #0b308e;
  text-decoration: underline;
}


/* ヘッダ
---------------------------------------------------- */

#preview {
  font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  color: #FFFFFF;
  text-align: center;
  background: #1c8600;
  padding: 5px;
  font-size: 80%;
  margin-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
}

#preview table {
  width: 800px;
  margin: auto;
}

#preview .ico {
  width: 20%;
  text-align: right;
  padding-right: 10px;
}

#preview .content {
  text-align: left;
}

#header {
  width: 920px;
  height: 110px;
  margin: 20px auto 10px;
  zoom: 100%;
  background: url("../images/header_bg_new.png") no-repeat;
}

#header:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#header h1 a {
  float: left;
  width: 280px;
  height: 60px;
  display: block;
  text-indent: -9999px;
}


/* menu - えびすマートメニュー */

#menu {}

#menu li {
  display: inline-block !important;
}


/* #menu li a {
  display: block;
  text-indent: -9999px;
  width: 150px;
  height: 30px;
  colro: #000;
} */


/* #menu .top_select {
  background: url("../images/menu_top_new.jpg") 0px -30px no-repeat;
}

#menu a.top:link {
  background: url("../images/menu_top_new.png") no-repeat;
}


#menu a.top:visited {
  background: url("../images/menu_top_new.png") no-repeat;
}

#menu a.top:hover {
  background-position: 0px -30px;
}

#menu .regist_select {
  background: url("../images/menu_regist_new.png") 0px -30px no-repeat;
}

#menu a.regist:link {
  background: url("../images/menu_regist_new.png") no-repeat;
}


#menu a.regist:visited {
  background: url("../images/menu_regist.jpg") no-repeat;
}

#menu a.regist:hover {
  background-position: 0px -30px;
}

#menu .renew_select {
  background: url("../images/menu_guide.png") 0px -30px no-repeat;
}

#menu a.renew:link {
  background: url("../images/menu_guide.png") no-repeat;
}


#menu a.renew:visited {
  background: url("../images/menu_renew.jpg") no-repeat;
}

#menu a.renew:hover {
  background-position: 0px -30px;
}

#menu .guide_select {
  background: url("../images/menu_ec.png") 0px -30px no-repeat;
}

#menu a.guide:link {
  background: url("../images/menu_ec.png") no-repeat;
}


#menu a.guide:visited {
  background: url("../images/menu_guide.jpg") no-repeat;
}

#menu a.guide:hover {
  background-position: 0px -30px;
}

#menu .online_select {
  background: url("../images/menu_online.jpg") 0px -30px no-repeat;
}

#menu a.online:link {
  background: url("../images/menu_online.jpg") no-repeat;
}

#menu a.online:visited {
  background: url("../images/menu_online.jpg") no-repeat;
}

#menu a.online:hover {
  background-position: 0px -30px;
}

#menu .faq_select {
  background: url("../images/menu_faq.jpg") 0px -30px no-repeat;
}

#menu a.faq:link {
  background: url("../images/menu_faq.jpg") no-repeat;
}

#menu a.faq:visited {
  background: url("../images/menu_faq.jpg") no-repeat;
}

#menu a.faq:hover {
  background-position: 0px -30px;
}

#menu .company_select {
  background: url("../images/menu_company.jpg") 0px -30px no-repeat;
}

#menu a.company:link {
  background: url("../images/menu_company.jpg") no-repeat;
}

#menu a.company:visited {
  background: url("../images/menu_company.jpg") no-repeat;
}

#menu a.company:hover {
  background-position: 0px -30px;
}
 */


/* search - 商品検索窓 */

#search {
  width: 250px;
  height: 60px;
  overflow: hidden;
  float: right;
}

#search p {
  display: block;
  font-size: 12px;
  padding: 5px 20px 0px;
  text-align: right;
  clear: both;
}

#search #form {
  display: inline;
  width: 165px;
  margin: 15px 10px 0px;
  float: left;
}

#search #button {
  display: inline;
  width: 40px;
  height: 20px;
  margin: 15px 10px 0px 0px;
  float: left;
}


/* bugreport - 不具合・要望報告ボタン */

#bugreport p a {
  display: block;
  background: url("../images/button_bugreport.gif") no-repeat;
  width: 30px;
  height: 160px;
  text-indent: -9999px;
  overflow: hidden;
  position: fixed;
  top: 100px;
  right: 0px;
}


/* IE6用 */

* html {
  overflow: hidden;
}

* html body {
  height: 100%;
  overflow: auto;
  margin: 0;
}

* html #bugreport p a {
  position: absolute;
  right: 16px;
}


/* サイドバー
---------------------------------------------------- */


/* login - ログイン枠 */

#login {
  width: 200px;
  margin-bottom: 15px;
  zoom: 100%;
  border: solid 2px #717071;
  padding: 2px 2px 10px 2px;
}

#login:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#login h2 {
  width: 200px;
  margin-bottom: 10px;
  height: 45px;
  text-indent: -9999px;
  background: url("../images/login_title.png") no-repeat;
  overflow: hidden;
}

#login label {
  float: left;
  display: block;
  width: 50px;
  height: 15px;
  font-size: 80%;
  font-weight: bold;
  padding: 2px 5px 3px 0px;
  text-align: right;
}

#login input {
  width: 100px;
  /* float: left; */
  margin: 0px 30px 6px 0px;
}

#login .button {
  /* width: 70px;
  margin: 0px 30px 10px;
  float: right; */
  display: block;
  width: 105px;
  margin-left: 55px;
  background: #717071;
  color: #FFF;
}

#login p {
  font-size: 75%;
  clear: both;
  margin: 0px 20px 2px;
}

#login #hello {
  font-size: 75%;
  font-weight: bold;
}

#login .point {
  color: #CC0000;
}

#login span {
  font-weight: bold;
}

#login .error {
  font-weight: bold;
  color: #CC0000;
}


/* cart - カートの中身確認・カートへ */

#cart {
  width: 200px;
  margin-bottom: 15px;
  border: solid 2px #717071;
  padding: 2px 2px 10px 2px;
}

#cart h2 {
  width: 200px;
  margin-bottom: 10px;
  height: 45px;
  text-indent: -9999px;
  background: url("../images/cart_title.png") no-repeat;
  overflow: hidden;
}

#cart h3 {
  display: block;
  margin: 0px 0px 10px 15px;
  font-size: 75%;
  font-weight: normal;
  float: left;
  clear: both;
}

#cart p {
  display: block;
  margin-bottom: 10px;
  font-size: 75%;
  font-weight: bold;
  text-align: right;
  color: #CC0000;
  margin-right: 15px;
  float: right;
}

#cart a {
  display: block;
  margin: auto;
  width: 162px;
  height: 32px;
  background: url("../images/button_gocart.png") no-repeat;
  text-indent: -9999px;
  clear: both;
}


/* category - 商品カテゴリ */

#category {
  width: 198px;
  margin-bottom: 15px;
  /* border: 1px solid #bfe3d5;
  background: #effaf6; */
}

#category h2 {
  width: 200px;
  height: 45px;
  text-indent: -9999px;
  background: url("../images/category_title.png") -1px 0px no-repeat;
  overflow: hidden;
}

#category ul {
  width: 188px;
  margin: auto;
  border-top: 1px solid #CCCCCC;
  margin-bottom: 5px;
}

#category li {
  display: inline;
}

#category .select {
  background: url("../images/marker_on.gif") 10px 10px no-repeat #98ce21;
  color: #003300;
  text-decoration: none;
}

#category li a {
  background: url("../images/marker.png") 10px 10px no-repeat #FFFFFF;
  display: block;
  padding: 5px 5px 5px 25px;
  color: #006600;
  text-decoration: none;
  font-size: 90%;
  border-left: #CCCCCC solid 1px;
  border-right: #CCCCCC solid 1px;
  border-bottom: #CCCCCC solid 1px;
}

#category li a:link {
  display: block;
  overflow: hidden;
}

#category li a:hover {
  background: url("../images/marker.png") 10px 10px no-repeat #F1F1F1;
  text-decoration: underline;
}

#category a {
  background: url("../images/marker.png") 10px 10px no-repeat #FFFFFF;
  display: block;
  padding: 5px 5px 5px 25px;
  color: #717071;
  text-decoration: none;
  font-size: 90%;
  /* border-left: #CCCCCC solid 1px;
  border-right: #CCCCCC solid 1px; */
  border-bottom: #CCCCCC solid 1px;
}

#category a:link {
  display: block;
  overflow: hidden;
}

#category a:hover {
  background: url("../images/marker.png") 10px 10px no-repeat #F1F1F1;
  text-decoration: underline;
}


/* magazine - メールマガジン枠 */

#magazine {
  width: 200px;
  margin-bottom: 15px;
  zoom: 100%;
}

#magazine:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#magazine h2 {
  width: 200px;
  margin-bottom: 10px;
  height: 45px;
  text-indent: -9999px;
  background: url("../images/magazine_title.png") no-repeat;
  overflow: hidden;
}

#magazine label {
  float: left;
  display: block;
  height: 15px;
  font-size: 12px;
  padding: 3px 5px 3px 0px;
}

#magazine .text {
  width: 155px;
  height: 15px;
  margin: 0px auto 5px;
  display: block;
}

#magazine .radio {
  margin: 5px 2px 5px 20px;
  float: left;
}

#magazine .button {
  width: 60px;
  margin: 5px 25px 5px 0px;
  float: right;
}

#magazine p {
  font-size: 75%;
  clear: both;
  margin: 0px 10px 2px;
  color: #CC0000;
  font-weight: bold;
}


/* present - プレゼント枠 */

#present {
  width: 200px;
  margin-bottom: 15px;
}

#present h2 {
  width: 200px;
  margin-bottom: 10px;
  height: 45px;
  text-indent: -9999px;
  background: url("../images/present_title.jpg") no-repeat;
  overflow: hidden;
}

#present h3 {
  display: block;
  font-size: 75%;
  padding: 0px 10px 0px 22px;
  background: url("../images/marker.gif") 8px 5px no-repeat;
}

#present .period {
  font-size: 75%;
  margin: 0px 10px 10px 18px;
}

#present .all {
  font-size: 75%;
  margin: 10px 20px 2px;
}


/* banner - バナーエリア */

#banner {
  width: 200px;
  margin-bottom: 10px;
}

#banner img {
  margin-bottom: 10px;
}


/* otherファイル用
---------------------------------------------------- */

#other {
  width: 700px;
  float: left;
  padding-bottom: 20px;
}

#other h2 {
  height: 25px;
  display: block;
  background: url("../images/title_bg.png") no-repeat;
  font-size: 85%;
  padding: 3px 10px 3px 25px;
}

#other p {
  margin: 5px 20px;
  font-size: 80%;
  line-height: 150%;
}

#other h3 {
  display: block;
  font-size: 80%;
  margin: 30px 20px 10px 10px;
  border-bottom: #DDDDDD 1px solid;
  border-left: #4c9f2a 6px solid;
  padding: 5px;
}

#other table {
  font-size: 80%;
  line-height: 160%;
  margin: 10px 20px;
  width: 650px;
  border: 1px solid #CCCCCC;
}

#other th {
  background: #EEEEEE;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
  text-align: left;
}

#other td {
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#other ul {
  padding-bottom: 10px;
}

#other li {
  list-style: disc;
  margin: 5px 40px;
  font-size: 80%;
}

#other table.table-cp {
  margin: 0px;
  padding: 0px;
  border: 0px solid #ffffff;
  width: 680px;
}

#other tr.table-cp {
  margin: 0px;
  padding: 0px;
  border: 0px solid #ffffff;
}

#other th.table-cp {
  margin: 0px;
  padding: 0px;
  border: 0px solid #ffffff;
}

#other td.table-cp {
  margin: 0px;
  padding: 0px;
  border: 0px solid #ffffff;
}


/* index.xhtml
---------------------------------------------------- */

#index {}


/* トップページ
---------------------------------------------------- */


/* topics - トピックス */

#topics {
  width: 500px;
  padding-bottom: 20px;
  zoom: 100%;
  float: left;
}

#topics .box {
  border-bottom: #CCCCCC solid 1px;
  zoom: 100%;
}

#topics .box:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#topics h3 {
  display: block;
  width: 80px;
  padding: 5px 10px;
  font-size: 80%;
  font-weight: normal;
  float: left;
}

#topics p {
  display: block;
  width: 380px;
  padding: 5px 10px;
  font-size: 80%;
  font-weight: normal;
  float: left;
}

#topics .rss {
  display: block;
  margin-top: 3px;
  float: right;
  background: url("../images/icon_rss.gif") 0px 0px no-repeat;
  width: 15px;
  height: 15px;
  text-indent: -9999px;
  overflow: hidden;
}

#topics .rss:hover {
  background: url("../images/icon_rss.gif") 0px -15px no-repeat;
}


/* pickup - 商品ピックアップ */

#pickup {
  width: 450px;
  padding-bottom: 10px;
  zoom: 100%;
  float: left;
  margin-left: 25px;
}

#pickup:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#pickup .box {
  border: #CCCCCC 1px solid;
  margin-bottom: 10px;
  width: 440px;
  margin-right: 8px;
  float: left;
}

#pickup .text {
  width: 300px;
  float: left;
}

#pickup h3 {
  display: block;
  font-size: 13px;
  margin: 10px 10px 0px 0px;
  line-height: 120%;
  font-weight: normal;
}

#pickup .price {
  display: block;
  margin: 5px 7px 5px 0px;
  font-size: 12px;
  color: #CC0000;
}

#pickup .iconarea {
  display: block;
  margin: 10px 7px 0px 0px;
}

#pickup .button {
  display: block;
  text-align: center;
  margin-bottom: 5px;
  clear: both;
}

#pickup .img {
  margin: 10px 10px 10px 10px;
  float: left;
  display: inline;
}


/* ranking - 人気商品ランキング */

#ranking {
  width: 190px;
  background: #f3f8f7;
  margin-bottom: 10px;
  float: right;
  border-bottom: 3px solid #2cc58a;
}

#ranking h2 {
  width: 190px;
  height: 25px;
  display: block;
  background: url("../images/ranking_title.png") no-repeat;
  text-indent: -9999px;
  padding: 0;
}

#ranking h4 {
  width: 110px;
  margin-left: 10px;
  font-size: 80%;
  font-weight: normal;
}

#ranking p {
  width: 110px;
  margin: 0px 0px 5px 10px;
  font-size: 75%;
  color: #CC0000;
}

#ranking #ranking_no1 h3 {
  width: 100px;
  height: 20px;
  background: url("../images/ranking_no01.jpg") 10px 5px no-repeat;
  text-indent: -9999px;
}

#ranking #ranking_no2 h3 {
  width: 100px;
  height: 20px;
  background: url("../images/ranking_no02.jpg") 10px 5px no-repeat;
  text-indent: -9999px;
}

#ranking #ranking_no3 h3 {
  width: 100px;
  height: 20px;
  background: url("../images/ranking_no03.jpg") 10px 5px no-repeat;
  text-indent: -9999px;
}

#ranking #ranking_no4 h3 {
  width: 100px;
  height: 20px;
  background: url("../images/ranking_no04.jpg") 10px 5px no-repeat;
  text-indent: -9999px;
}

#ranking #ranking_no5 h3 {
  width: 100px;
  height: 20px;
  background: url("../images/ranking_no05.jpg") 10px 5px no-repeat;
  text-indent: -9999px;
}

#ranking #ranking_no6 h3 {
  width: 100px;
  height: 20px;
  background: url("../images/ranking_no06.jpg") 10px 5px no-repeat;
  text-indent: -9999px;
}

#ranking #ranking_no7 h3 {
  width: 100px;
  height: 20px;
  background: url("../images/ranking_no07.jpg") 10px 5px no-repeat;
  text-indent: -9999px;
}

#ranking #ranking_no8 h3 {
  width: 100px;
  height: 20px;
  background: url("../images/ranking_no08.jpg") 10px 5px no-repeat;
  text-indent: -9999px;
}

#ranking #ranking_no9 h3 {
  width: 100px;
  height: 20px;
  background: url("../images/ranking_no09.jpg") 10px 5px no-repeat;
  text-indent: -9999px;
}

#ranking #ranking_no10 h3 {
  width: 100px;
  height: 20px;
  background: url("../images/ranking_no10.jpg") 10px 5px no-repeat;
  text-indent: -9999px;
}

#ranking .box {
  border-top: #EEEEEE solid 1px;
  border-bottom: #FFFFFF solid 1px;
  zoom: 100%;
}

#ranking .box:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#ranking .text {
  float: left;
  width: 120px;
  margin-bottom: 5px;
}

#ranking .img {
  float: left;
  margin: 10px;
}


/* カートの中身～注文完了まで
---------------------------------------------------- */


/* cartInner - 買い物かごの中身 */

#cartInner {
  width: 700px;
  padding-bottom: 20px;
}

#cartInner .step {
  margin: 10px 50px 20px;
}

#cartInner p {
  margin: 5px 20px;
  font-size: 80%;
  line-height: 150%;
}

#cartInner table {
  font-size: 80%;
  line-height: 160%;
  margin: 10px 20px;
  width: 650px;
  border: 1px solid #CCCCCC;
}

#cartInner th {
  background: #EEEEEE;
  padding: 10px;
  text-align: center;
  border: 1px solid #CCCCCC;
}

#cartInner td {
  padding: 10px;
  border: 1px solid #CCCCCC;
}

#cartInner .price {
  text-align: right;
  color: #CC0000;
}

#cartInner .amount {
  text-align: center;
}

#cartInner .delete {
  text-align: center;
}

#cartInner .total {
  font-weight: bold;
  margin: 0px 20px 30px;
  padding: 5px 10px;
  text-align: right;
  border-bottom: #CCCCCC 1px solid;
}

#cartInner .buttonarea {
  text-align: center;
  border-top: #CCCCCC 1px dashed;
  margin: 10px;
  padding-top: 10px;
}


/* cartLogin - 買い物かご-ログイン */

#cartLogin {
  width: 700px;
  padding-bottom: 20px;
}

#cartLogin .step {
  margin: 10px 50px 20px;
}

#cartLogin p {
  margin: 5px 20px;
  font-size: 80%;
  line-height: 150%;
}

#cartLogin table {
  font-size: 80%;
  line-height: 160%;
  margin: 0px 20px 10px;
  width: 650px;
  border: 1px solid #CCCCCC;
}

#cartLogin th {
  background: #EEEEEE;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#cartLogin td {
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#cartLogin .title {
  text-align: left;
  width: 160px;
}

#cartLogin h3 {
  background: url("../images/marker.gif") 7px 7px no-repeat #eeeeee;
  font-size: 85%;
  padding: 1px 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #CCCCCC;
}

#cartLogin .box {
  border: 1px solid #CCCCCC;
  margin-bottom: 30px;
}

#cartLogin .buttonarea {
  text-align: center;
  border-top: #CCCCCC 1px dashed;
  margin: 10px;
  padding-top: 10px;
}


/* cartInput,cartInputNoLogin - 買い物かご-注文情報入力 */

#cartInput {
  width: 700px;
  padding-bottom: 20px;
}

#cartInput .step {
  margin: 10px 50px 20px;
}

#cartInput p {
  margin: 5px 20px;
  font-size: 80%;
  line-height: 150%;
}

#cartInput h3 {
  margin: 30px 20px 10px;
  font-size: 90%;
}

#cartInput table {
  font-size: 80%;
  line-height: 160%;
  margin: 10px 20px;
  width: 650px;
  border: 1px solid #CCCCCC;
}

#cartInput th {
  background: #EEEEEE;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#cartInput td {
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#cartInput .title {
  text-align: left;
  width: 160px;
}

#cartInput .price {
  text-align: right;
  color: #CC0000;
}

#cartInput .amount {
  text-align: center;
}

#cartInput .total {
  font-weight: bold;
  margin: 0px 20px;
  padding: 5px 10px;
  text-align: right;
  border-bottom: #CCCCCC 1px solid;
}

#cartInput .point {
  color: #FF6600;
  font-weight: bold;
}

#cartInput .buttonarea {
  text-align: center;
  border-top: #CCCCCC 1px dashed;
  margin: 10px;
  padding-top: 10px;
}

#cartInput .hissu {
  color: #CC0000;
  font-weight: bold;
}


/* cartConfirm , cartProgress - 買い物かご-注文情報確認 */

#cartConfirm {
  width: 700px;
  padding-bottom: 20px;
}

#cartConfirm .step {
  margin: 10px 50px 20px;
}

#cartConfirm p {
  margin: 5px 20px;
  font-size: 80%;
  line-height: 150%;
}

#cartConfirm h3 {
  margin: 30px 20px 10px;
  font-size: 90%;
}

#cartConfirm table {
  font-size: 80%;
  line-height: 160%;
  margin: 10px 20px;
  width: 650px;
  border: 1px solid #CCCCCC;
}

#cartConfirm th {
  background: #EEEEEE;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#cartConfirm td {
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#cartConfirm .title {
  text-align: left;
  width: 160px;
}

#cartConfirm .price {
  text-align: right;
  color: #CC0000;
}

#cartConfirm .amount {
  text-align: center;
}

#cartConfirm .total {
  font-weight: bold;
  margin: 0px 20px;
  padding: 5px 10px;
  text-align: right;
  border-bottom: #CCCCCC 1px solid;
}

#cartConfirm .point {
  color: #FF6600;
  font-weight: bold;
}

#cartConfirm .buttonarea {
  text-align: center;
  border-top: #CCCCCC 1px dashed;
  margin: 10px;
  padding-top: 10px;
}

#cartConfirm .attention {
  color: #CC0000;
  font-weight: bold;
  font-size: 110%;
}


/* cartComplete - 買い物かご-注文完了 */

#cartComplete {
  width: 700px;
  padding-bottom: 20px;
}

#cartComplete .step {
  margin: 10px 50px 20px;
}

#cartComplete p {
  margin: 5px 20px;
  font-size: 80%;
  line-height: 150%;
}

#cartComplete h3 {
  margin: 30px 20px 10px;
  font-size: 90%;
}

#cartComplete table {
  font-size: 80%;
  line-height: 160%;
  margin: 10px 20px;
  width: 650px;
  border: 1px solid #CCCCCC;
}

#cartComplete th {
  background: #EEEEEE;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#cartComplete td {
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#cartComplete .title {
  text-align: left;
  width: 160px;
}

#cartComplete .price {
  text-align: right;
  color: #CC0000;
}

#cartComplete .amount {
  text-align: center;
}

#cartComplete .total {
  font-weight: bold;
  margin: 0px 20px;
  padding: 5px 10px;
  text-align: right;
  border-bottom: #CCCCCC 1px solid;
}

#cartComplete .point {
  color: #FF6600;
  font-weight: bold;
}

#cartComplete .buttonarea {
  text-align: center;
  border-top: #CCCCCC 1px dashed;
  margin: 10px;
  padding-top: 10px;
}

#cartComplete .attention {
  color: #CC0000;
  font-weight: bold;
  font-size: 110%;
}


/* 会員登録
---------------------------------------------------- */


/* regist - 新規会員登録 */

#regist {
  width: 700px;
  padding-bottom: 20px;
  float: left;
}

#regist p {
  margin: 5px 20px;
  font-size: 80%;
  line-height: 150%;
}

#regist table {
  font-size: 80%;
  line-height: 160%;
  margin: 10px 20px;
  width: 650px;
  border: 1px solid #CCCCCC;
}

#regist th {
  background: #EEEEEE;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
  width: 150px;
}

#regist td {
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#regist .title {
  text-align: left;
  width: 160px;
}

#regist .buttonarea {
  text-align: center;
  border-top: #CCCCCC 1px dashed;
  margin: 10px;
  padding-top: 10px;
}

#regist .hissu {
  color: #CC0000;
  font-weight: bold;
}


/* registConfirm - 会員情報確認 */

#registConfirm {
  width: 700px;
  padding-bottom: 20px;
  float: left;
}

#registConfirm p {
  margin: 5px 20px;
  font-size: 80%;
  line-height: 150%;
}

#registConfirm table {
  font-size: 80%;
  line-height: 160%;
  margin: 10px 20px;
  width: 650px;
  border: 1px solid #CCCCCC;
}

#registConfirm th {
  background: #EEEEEE;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
  width: 150px;
}

#registConfirm td {
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#registConfirm .title {
  text-align: left;
  width: 160px;
}

#registConfirm .buttonarea {
  text-align: center;
  border-top: #CCCCCC 1px dashed;
  margin: 10px;
  padding-top: 10px;
}


/* registComplete - 会員情報登録完了 */

#registComplete {
  width: 700px;
  padding-bottom: 20px;
  float: left;
}

#registComplete p {
  margin: 5px 20px;
  font-size: 80%;
  line-height: 150%;
}

#registComplete .buttonarea {
  text-align: center;
  border-top: #CCCCCC 1px dashed;
  margin: 10px;
  padding-top: 10px;
}


/* フッタ
---------------------------------------------------- */

#footer {
  width: 920px;
  height: 110px;
  background: url("../images/footer_bg.png") 0px 30px no-repeat;
  background-position: bottom;
  clear: both;
  margin: 0px auto;
}

#footer #backtotop a {
  display: block;
  width: 135px;
  height: 20px;
  text-indent: -9999px;
  background: url("../images/footer_backtotop.png") no-repeat;
  overflow: hidden;
  margin: 75px 25px 0px 0px;
  float: right;
}

#footer #copyright {
  display: block;
  text-align: center;
  font-size: 75%;
  color: #333333;
  padding: 5px 0px 10px;
  clear: both;
}


/* 商品詳細・一覧ページ
---------------------------------------------------- */


/* subcategory - サブカテゴリ */

#subcategory {
  width: 698px;
  padding-bottom: 5px;
  border: 1px solid #bfe3d5;
  background: #effaf6;
  margin-bottom: 20px;
}

#subcategory h2 {
  display: block;
  width: 100%;
  height: 25px;
  background: url("../images/subcategory_title.jpg") -1px 0px no-repeat;
  text-indent: -9999px;
  margin: 0;
  padding: 0;
}

#subcategory ul {
  display: block;
  width: 688px;
  border: #CCCCCC 1px solid;
  zoom: 100%;
  background: #F5F5F5;
  margin: auto;
}

#subcategory ul:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#subcategory li {
  display: inline;
  float: left;
}

#subcategory .select {
  background: url("../images/marker_on.gif") 6px 7px no-repeat #98ce21;
  text-decoration: none;
  color: #003300;
}

#subcategory li a {
  display: block;
  padding: 2px 5px;
  text-indent: 15px;
  color: #006600;
  text-decoration: none;
  font-size: 80%;
  background: url("../images/marker.gif") 6px 7px no-repeat;
}

#subcategory li a:link {
  display: block;
}

#subcategory li a:hover {
  background: url("../images/marker.gif") 6px 7px no-repeat #DDDDDD;
  text-decoration: underline;
}

#subcategory #sub ul {
  display: block;
  width: 688px;
  background: #FFFFFF;
  border: #CCCCCC 1px solid;
  border-top: none;
  margin: auto;
}

#subcategory #sub ul:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#subcategory #sub li {
  display: inline;
  float: left;
}

#subcategory #sub .select {
  background: url("../images/marker_on.gif") 6px 7px no-repeat #faf033;
  text-decoration: none;
  color: #003300;
}

#subcategory #sub li a {
  display: block;
  padding: 2px 5px;
  text-indent: 15px;
  color: #006600;
  text-decoration: none;
  font-size: 80%;
  background: url("../images/marker.gif") 6px 7px no-repeat;
}

#subcategory #sub li a:link {
  display: block;
}

#subcategory #sub li a:hover {
  background: url("../images/marker.gif") 6px 7px no-repeat #DDDDDD;
  text-decoration: underline;
}


/* list - 商品一覧 */

#list {
  width: 700px;
  padding-bottom: 20px;
}

#list ul {
  padding-left: 5px;
  background: url("../images/list_bg.gif") bottom repeat-x;
  margin-bottom: 10px;
  zoom: 100%;
}

#list ul:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#list li {
  float: left;
}

#list li a {
  display: block;
  font-size: 80%;
  padding: 5px 10px 5px 30px;
  margin-right: 5px;
  border-top: 1px solid #f6f5fa;
  border-left: 1px solid #f6f5fa;
  border-right: 1px solid #f6f5fa;
  border-bottom: 1px solid #CCCCCC;
}

#list .detail {
  background: url("../images/list_detail.gif") 7px 7px no-repeat #f6f5fa;
}

#list .image {
  background: url("../images/list_image.gif") 7px 7px no-repeat #f6f5fa;
}

#list .simple {
  background: url("../images/list_simple.gif") 7px 7px no-repeat #f6f5fa;
}

#list .detail_select {
  color: #333333;
  background: url("../images/list_detail_on.gif") 7px 7px no-repeat #FFFFFF;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #FFFFFF;
  text-decoration: none;
}

#list .image_select {
  color: #333333;
  background: url("../images/list_image_on.gif") 7px 7px no-repeat #FFFFFF;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #FFFFFF;
  text-decoration: none;
}

#list .simple_select {
  color: #333333;
  background: url("../images/list_simple_on.gif") 7px 7px no-repeat #FFFFFF;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #FFFFFF;
  text-decoration: none;
}

#list .pageguide {
  width: 500px;
  font-size: 75%;
  float: left;
}

#list .rearrange {
  width: 200px;
  font-size: 75%;
  float: left;
  text-align: right;
}

#list .pagelink {
  font-size: 75%;
  clear: both;
}

#list .nolink {
  color: #999999;
}


/* listDetail - 商品詳細一覧 */

#listDetail {
  width: 700px;
  padding-bottom: 20px;
}

#listDetail .box {
  border: #CCCCCC 1px solid;
  margin-top: 10px;
  zoom: 100%;
}

#listDetail .box:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#listDetail .img {
  margin: 10px;
  float: left;
}

#listDetail .text {
  float: right;
  width: 555px;
}

#listDetail .title {
  float: left;
  width: 320px;
}

#listDetail h3 {
  display: block;
  font-size: 80%;
  margin: 10px 10px 0px 0px;
  font-weight: normal;
}

#listDetail .price {
  display: block;
  margin: 5px 10px 5px 0px;
  font-size: 75%;
  color: #CC0000;
}

#listDetail .iconarea {
  width: 220px;
  float: right;
}

#listDetail .button {
  display: block;
  width: 210px;
  margin: 10px 10px 0px 0px;
  text-align: right;
}

#listDetail .icon {
  display: block;
  width: 210px;
  margin: 0px 10px 5px 0px;
  text-align: right;
}

#listDetail .explanation {
  display: block;
  width: 545px;
  font-size: 80%;
  margin: 0px 10px 10px 0px;
  padding-top: 5px;
  border-top: #CCCCCC 1px solid;
  clear: both;
  line-height: 120%;
}


/* listSimple - 商品簡易一覧 */

#listSimple {
  width: 700px;
  padding-bottom: 20px;
}

#listSimple .box {
  border: #CCCCCC 1px solid;
  margin-top: 10px;
  zoom: 100%;
}

#listSimple .box:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#listSimple .title {
  float: left;
  width: 450px;
}

#listSimple h3 {
  display: block;
  font-size: 80%;
  margin: 10px 10px 0px;
  font-weight: normal;
}

#listSimple .price {
  display: block;
  margin: 5px 10px;
  font-size: 75%;
  color: #CC0000;
}

#listSimple .iconarea {
  width: 240px;
  float: right;
}

#listSimple .button {
  display: block;
  width: 230px;
  margin: 10px 10px 0px 0px;
  text-align: right;
}

#listSimple .icon {
  display: block;
  width: 230px;
  margin: 0px 10px 5px 0px;
  text-align: right;
}

#listSimple .explanation {
  display: block;
  width: 675px;
  font-size: 80%;
  margin: 0px 10px 10px;
  padding-top: 5px;
  border-top: #CCCCCC 1px solid;
  clear: both;
  line-height: 120%;
}

#listSimple .explanation02 {
  display: block;
  width: 675px;
  font-size: 75%;
  margin: 0px 10px 10px;
  color: #666666;
  line-height: 120%;
}


/* listImage - 商品画像一覧 */

#listImage {
  width: 700px;
  padding-bottom: 20px;
  zoom: 100%;
}

#listImage:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#listImage .box {
  border: #CCCCCC 1px solid;
  margin-top: 10px;
  width: 227px;
  margin-right: 4px;
  float: left;
  padding-top: 10px;
}

#listImage .text {
  width: 85px;
  float: left;
}

#listImage h3 {
  display: block;
  font-size: 13px;
  margin: 0px 5px 0px 0px;
  line-height: 120%;
  font-weight: normal;
}

#listImage .price {
  display: block;
  margin: 0px 10px 2px;
  font-size: 12px;
  color: #CC0000;
  clear: both;
  text-align: center;
}

#listImage .iconarea {
  display: block;
  margin: 0px 7px 0px 0px;
}

#listImage .button {
  display: block;
  text-align: center;
  margin: 5px 0px;
  clear: both;
}

#listImage .icon {
  line-height: 1;
}

#listImage .img {
  margin: 0px 6px 10px 10px;
  float: left;
  display: inline;
}


/* itemDetail - 商品詳細 */

#itemDetail {
  width: 700px;
  padding-bottom: 20px;
}

#itemDetail .box {
  margin-top: 10px;
  zoom: 100%;
}

#itemDetail .box:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#itemDetail .iconarea {
  width: 300px;
  float: left;
}

#itemDetail .other_image {
  padding: 10px 10px 5px 15px;
  font-size: 80%;
}

#itemDetail .recommend {
  padding: 0px 10px 10px 15px;
  font-size: 80%;
}

#itemDetail .icon {
  margin: 0px 10px 5px 0px;
  font-size: 75%;
}

#itemDetail .img {
  margin: 10px;
}

#itemDetail .text {
  float: right;
  width: 370px;
}

#itemDetail .appeal {
  display: block;
  font-size: 75%;
  margin: 10px 10px 10px 0px;
}

#itemDetail h3 {
  display: block;
  font-size: 100%;
  margin: 10px 10px 10px 0px;
}

#itemDetail .price {
  display: block;
  margin: 0px 10px 10px 0px;
  font-size: 125%;
  color: #CC0000;
  font-weight: bold;
}

#itemDetail .free {
  font-size: 85%;
  margin-bottom: 20px;
}

#itemDetail .explanation {
  display: block;
  font-size: 85%;
  margin: 0px 10px 10px 0px;
  padding-top: 10px;
  border-top: #CCCCCC 1px solid;
  line-height: 120%;
}

#itemDetail .explanation02 {
  display: block;
  font-size: 80%;
  margin: 0px 10px 10px 0px;
  color: #666666;
  background: #EEEEEE;
  padding: 10px;
  line-height: 120%;
}

#itemDetail .button {
  margin: 20px 10px 20px 0px;
}


/* プレゼントページ用
---------------------------------------------------- */


/* presentList - プレゼント一覧 */

#presentList {
  width: 700px;
  padding-bottom: 20px;
}

#presentList .box {
  border: #CCCCCC 1px solid;
  margin-top: 10px;
  zoom: 100%;
}

#presentList .box:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#presentList .img {
  margin: 10px;
  float: left;
}

#presentList .text {
  float: right;
  width: 575px;
}

#presentList .title {
  float: left;
  width: 420px;
}

#presentList h3 {
  display: block;
  font-size: 80%;
  margin: 10px 10px 0px 0px;
  font-weight: normal;
}

#presentList .term {
  display: block;
  margin: 5px 10px 5px 0px;
  font-size: 75%;
  color: #CC0000;
}

#presentList .iconarea {
  width: 150px;
  float: right;
}

#presentList .button {
  display: block;
  width: 140px;
  margin: 10px 10px 0px 0px;
  text-align: right;
}

#presentList .icon {
  display: block;
  width: 230px;
  margin: 0px 10px 5px 0px;
  text-align: right;
}

#presentList .explanation {
  display: block;
  width: 565px;
  font-size: 80%;
  margin: 0px 10px 10px 0px;
  padding-top: 5px;
  border-top: #CCCCCC 1px solid;
  clear: both;
  line-height: 120%;
}


/* presentDetail - プレゼント詳細 */

#presentDetail {
  width: 700px;
  padding-bottom: 20px;
}

#presentDetail .box {
  margin-top: 10px;
  zoom: 100%;
}

#presentDetail .box:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#presentDetail .iconarea {
  width: 300px;
  float: left;
}

#presentDetail .other_image {
  padding: 10px 10px 5px 15px;
  font-size: 80%;
}

#presentDetail .recommend {
  padding: 0px 10px 10px 15px;
  font-size: 80%;
}

#presentDetail .icon {
  margin: 0px 10px 5px 0px;
  font-size: 75%;
}

#presentDetail .img {
  margin: 10px;
}

#presentDetail .text {
  float: right;
  width: 370px;
}

#presentDetail .appeal {
  display: block;
  font-size: 75%;
  margin: 10px 10px 10px 0px;
}

#presentDetail h3 {
  display: block;
  font-size: 100%;
  margin: 10px 10px 10px 0px;
}

#presentDetail .term {
  display: block;
  margin: 0px 10px 10px 0px;
  font-size: 90%;
  color: #CC0000;
  font-weight: bold;
}

#presentDetail .free {
  font-size: 85%;
  margin-bottom: 20px;
}

#presentDetail .explanation {
  display: block;
  font-size: 85%;
  margin: 0px 10px 10px 0px;
  padding-top: 10px;
  border-top: #CCCCCC 1px solid;
  line-height: 120%;
}

#presentDetail .explanation02 {
  display: block;
  font-size: 80%;
  margin: 0px 10px 10px 0px;
  color: #666666;
  background: #EEEEEE;
  padding: 10px;
  line-height: 120%;
}

#presentDetail .button {
  margin: 20px 10px 20px 0px;
}


/* 詳細検索用
---------------------------------------------------- */


/* searchDetail - 詳細検索 */

#searchDetail {
  width: 700px;
  padding-bottom: 20px;
}

#searchDetail p {
  margin: 5px 20px;
  font-size: 80%;
  line-height: 150%;
}

#searchDetail table {
  font-size: 80%;
  line-height: 160%;
  margin: 10px 20px;
  width: 650px;
  border: 1px solid #CCCCCC;
}

#searchDetail th {
  background: #EEEEEE;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
  width: 150px;
}

#searchDetail td {
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#searchDetail .title {
  text-align: left;
  width: 160px;
}

#searchDetail .buttonarea {
  text-align: center;
  border-top: #CCCCCC 1px dashed;
  margin: 10px;
  padding-top: 10px;
}


/* 購入履歴
---------------------------------------------------- */


/* history - 購入履歴 */

#history {
  width: 700px;
  padding-bottom: 20px;
}

#history h3 {
  display: block;
  font-size: 80%;
  margin: 30px 30px 0px 20px;
  padding-left: 55px;
}

#history h3.preparing {
  background: url("../images/history_preparing.gif") no-repeat;
}

#history h3.delivered {
  background: url("../images/history_delivered.gif") no-repeat;
}

#history h3.canceled {
  background: url("../images/history_canceled.gif") no-repeat;
}

#history p {
  margin: 5px 20px;
  font-size: 80%;
  line-height: 150%;
}

#history table {
  font-size: 80%;
  line-height: 160%;
  margin: 5px 20px 10px;
  width: 650px;
  border: 1px solid #CCCCCC;
}

#history th {
  background: #EEEEEE;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
  text-align: center;
}

#history td {
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#history .buttonarea {
  text-align: center;
  border-top: #CCCCCC 1px dashed;
  margin: 10px;
  padding-top: 10px;
}

#history .price {
  text-align: right;
  color: #CC0000;
}

#history .cart {
  text-align: center;
  width: 125px;
}

#history .code {
  width: 80px;
}

#history .amount {
  width: 50px;
  text-align: center;
}

#history .status {
  float: right;
}


/* キャンペーンページ用
---------------------------------------------------- */

#campaign {
  width: 700px;
  padding-bottom: 20px;
  float: left;
}

#campaign h3 {
  margin: 20px 0px 10px;
}

#campaign .img {
  margin: 10px;
}

#campaign p {
  font-size: 80%;
  margin: 0px 20px 10px;
}

#campaign .howto {
  margin: 10px 60px;
}

#campaign .detail {
  border: 1px solid #CCCCCC;
  zoom: 100%;
  margin-bottom: 10px;
}

#campaign .detail:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#campaign .text {
  width: 410px;
  padding: 10px 10px 0px 0px;
  float: right;
}

#campaign .appeal {
  font-size: 75%;
  margin: 0px;
}

#campaign .title {
  font-size: 100%;
  margin: 5px 0px 10px;
  font-weight: bold;
  color: #0099CC;
}

#campaign .comment {
  font-size: 75%;
  margin: 0px;
  color: #666666;
}

#campaign .button {
  float: right;
  margin: 10px;
}


/* サブウインドウで表示するページ
---------------------------------------------------- */


/* subwindow - サブウインドウ */

#subwindow {
  width: 640px;
  margin: auto;
  text-align: left;
}

#subwindow #header {
  width: 638px;
  height: 70px;
  zoom: 100%;
  background-position: -10px 0px;
  border-left: 1px solid #daef6c;
  border-right: 1px solid #daef6c;
  border-bottom: 1px solid #daef6c;
}

#subwindow #header:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}


/* clearfix */

#subwindow #header h1 a {
  width: 280px;
  height: 70px;
  display: block;
  text-indent: -9999px;
}

#subwindow #content {
  width: 640px;
  padding-bottom: 20px;
  background: #FFFFFF;
}

#subwindow #content h2 {
  width: 585px;
  height: 35px;
  display: block;
  background: url("../images/title_bg.png") 10px 10px no-repeat;
  font-size: 85%;
  padding: 10px 10px 0px 35px;
}

#subwindow #content p {
  margin: 5px 20px;
  font-size: 80%;
  line-height: 150%;
}

#subwindow #content .images {
  text-align: center;
  margin: 10px;
}

#subwindow #content table {
  font-size: 80%;
  line-height: 160%;
  margin: 10px 20px;
  width: 600px;
  border: 1px solid #CCCCCC;
}

#subwindow #content th {
  background: #EEEEEE;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
  width: 150px;
}

#subwindow #content td {
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#subwindow #content .buttonarea {
  text-align: center;
  border-top: #CCCCCC 1px dashed;
  margin: 10px;
  padding-top: 10px;
}

#subwindow #content .hissu {
  color: #CC0000;
  font-weight: bold;
}

#subwindow #footer {
  width: 639px;
  font-size: 80%;
  text-align: center;
  clear: both;
  background-position: 0px 0px;
  padding: 20px 0px 0px;
  height: 60px;
  margin-bottom: 10px;
  border-right: 1px solid #daef6c;
}


/* エラーページ
---------------------------------------------------- */

#error {
  width: 100%;
  padding-bottom: 20px;
}

#error h2 {
  height: 35px;
  display: block;
  background: url("../images/title_bg.png") 10px 10px no-repeat;
  font-size: 85%;
  padding: 10px 10px 0px 35px;
}

#error table {
  border: none !important;
  margin: 20px;
  font-size: 80%;
}

#error td {
  border: none !important;
  padding: 10px;
}

#error .ico {
  width: 40px;
  vertical-align: top;
  text-align: center;
}

#error .content {
  vertical-align: middle;
  color: #CC0000;
  font-weight: bold;
  line-height: 150%;
  padding: 5px;
}

#error .buttonarea {
  text-align: center;
  border-top: #CCCCCC 1px dashed;
  margin: 10px;
  padding-top: 10px;
}

#error ul {
  background: none;
}


/* パスワードアップデート
---------------------------------------------------- */

#passwordUpdate {
  width: 100%;
  padding-bottom: 20px;
}

#passwordUpdate h2 {
  height: 35px;
  display: block;
  background: url("../images/title_bg.png") 10px 10px no-repeat;
  font-size: 85%;
  padding: 10px 10px 0px 35px;
}

#passwordUpdate p {
  margin: 5px 20px;
  font-size: 80%;
  line-height: 150%;
}

#passwordUpdate table {
  font-size: 80%;
  line-height: 160%;
  margin: 10px 70px;
  width: 750px;
  border: 1px solid #CCCCCC;
}

#passwordUpdate th {
  background: #EEEEEE;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
  width: 150px;
}

#passwordUpdate td {
  padding: 10px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

#passwordUpdate .ico {
  width: 40px;
  vertical-align: top;
  text-align: center;
}

#passwordUpdate .content {
  vertical-align: middle;
  color: #CC0000;
  font-weight: bold;
  line-height: 150%;
  padding: 5px;
}

#passwordUpdate .buttonarea {
  text-align: center;
  border-top: #CCCCCC 1px dashed;
  margin: 10px;
  padding-top: 10px;
}

#passwordUpdate .hissu {
  color: #CC0000;
  font-weight: bold;
}


/* 自社作成スタイルシート
---------------------------------------------------- */

.celeb-text01 {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 18px;
}

.celeb-text02 {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.celeb-text03 {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  margin-left: 15px;
  margin-right: 15px;
}

.celeb-text04 {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 18px;
}

.celeb-text05 {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #333333;
  margin: 15px;
}

.celeb-text06 {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #333333;
  margin: 15px;
  font: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.celeb-text07 {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 14px;
  margin: 20px;
}

.celeb-bg01 {
  background-color: #fffcee;
}

.celeb-bg02-1 {
  background-color: #f6fffb;
}

.celeb-bg02-2 {
  background-color: #60bd90;
}

.cp-bg {
  background: url("../images/c-point/cp_back.jpg");
}


/* 自社作成スタイルシート２
---------------------------------------------------- */

#2011christ .br1 {
  line-height: 0px;
}


/* 自社作成スタイルシート３ (全研用ページ)
---------------------------------------------------- */

#2357-9533 .body1 {
  line-height: 0;
}

#2357-9533 table {
  border: 0px;
  width: 650px;
  margin: 0px;
}

#2357-9533 td {
  border: 0px;
  padding: 0px;
}

#2357-9533 hr.hr1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

#2357-9533 hr.hr2 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #8db399;
  width: 95%;
  size: 2px;
}

#2357-9533 .text1 {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 24px;
  margin-left: 50px;
  margin-right: 50px;
}


/* 自社作成スタイルシート３ (p2012-01ページ)
---------------------------------------------------- */

#p2012-01 .text1 {
  font-size: 15px;
  line-height: 20px;
}

#p2012-01 .text2 {
  font-size: 13px;
  line-height: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

#p2012-01 .text3 {
  font-size: 14px;
  line-height: 20px;
}

#p2012-01 .ex table {
  font-size: 80%;
  line-height: 160%;
  margin: 10px 20px;
  width: 650px;
  border: 1px solid #288c73;
}

#p2012-01 .ex th {
  background: #288c73;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #288c73;
  text-align: left;
}

#p2012-01 .ex td {
  padding: 5px;
  vertical-align: top;
  border: 1px solid #288c73;
  font-size: 14px;
  line-height: 20px;
}


/* 自社作成スタイルシートtest (testページ)
---------------------------------------------------- */

#item2433 .body {
  line-height: 0;
}


/* ロールオーバーの指定
---------------------------------------------------- */

.hover a:hover img {
  opacity: 0.35;
  filter: alpha(opacity=35);
  -ms-filter: "alpha( opacity=35 )";
  background: #fff;
}

#stage {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  background: #ddd;
}

.pic {
  position: absolute;
}

.pic img {
  width: 100%;
  height: auto;
  opacity: 0;
  -moz-animation: imgTrans 40s infinite;
  -webkit-animation: imgTrans 40s ease-in infinite;
  animation: imgTrans 40s infinite;
}

#photo1 img {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

#photo2 img {
  -moz-animation-delay: 8s;
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

#photo3 img {
  -moz-animation-delay: 16s;
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}

#photo4 img {
  -moz-animation-delay: 24s;
  -webkit-animation-delay: 24s;
  animation-delay: 24s;
}

#photo5 img {
  -moz-animation-delay: 32s;
  -webkit-animation-delay: 32s;
  animation-delay: 32s;
}

@-webkit-keyframes imgTrans {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes imgTrans {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imgTrans {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
